.bg-blue {
    background-color: #6777ef !important;
}

.text-blue {
    color: #6777ef !important;
}

.btn-blue {
    color: #ffffff;
    background-color: #6777ef !important;
    border-color: #6777ef !important;
}

.border-left-blue {
    border-left: 0.25rem solid #4e73df !important;
}
.border-left-green {
    border-left: 0.25rem solid #43df5d !important;
}
.border-left-red {
    border-left: 0.25rem solid #fc3b00 !important;
}
.border-left-yellow {
    border-left: 0.25rem solid #fbff00 !important;
}

.border-bottom-light {
    border-bottom: 3px solid #fff;
}

@media screen and (max-width: 1800px) {
    #card {
        max-width: 20rem;
        height: 26rem;
    }
    #button {
        position: absolute;
        bottom: 1em;
        right: 1em;
        padding: 0.4em 6em;
    }
    #price {
        position: absolute;
    }
}
@media screen and (max-width: 1500px) {
    #button {
        position: absolute;
        bottom: 1em;
        right: 1em;
        padding: 0.4em 6em;
    }
    #price {
        position: absolute;
    }
}
@media screen and (max-width: 1199px) {
    #button {
        position: absolute;
        bottom: 1em;
        right: 1em;
        padding: 0.4em 7em;
    }
    #price {
        margin-right: 1.5em;
    }
}
@media screen and (max-width: 980px) {
    #card {
        max-width: 20rem;
        height: 28rem;
    }
    #button {
        position: absolute;
        bottom: 1em;
        right: 1em;
        padding: 0.4em 8em;
    }
    #price {
        margin-right: 3em;
        color: red;
    }
}


.img-order {
    width: 12rem;
    margin-right: 1rem;
}

/* .center-item {
    box-sizing: content-box;
    margin: 0 4rem;
} */

.message-content {
    background-color: lightgray;
    margin-right: 1rem;
    color: black;
    border-radius: 10px;
}

.divider {
    width: 6rem;
}

.carousel-item {
    height: 100vh;
}

.carousel-item img {
    filter: brightness(50%);
}

.carousel-caption {
    position: absolute;
    text-transform: uppercase;
    top: 38%;
}

.carousel-caption h1 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: .2rem;
}

.carousel-caption h5 {
    font-size: 1.5rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}

.btn-lg {
    border-width: medium;
    border-radius: 0;
    font-size: 1.1rem;
}

.btn-lg:hover {
    font-weight: bolder;
}

footer {
    background-color: #6777ef;
    color: white;
    padding: 2rem 0 3rem;
    margin-top: 1rem;
}

footer h1 {
    font-weight: bolder;
    letter-spacing: .2rem;
    margin-bottom: 1rem;
}

footer a {
    color: white;
    font-size: 2rem;
    margin: 1.2rem .5rem 0 0;
}

footer a:hover {
    color: #a8a1f0;
}

footer .socket {
    border-top: .2rem solid white;
    width: 100%;
}
